<ion-header>
	<ion-toolbar>
		<ion-title>Découvrir</ion-title>
	</ion-toolbar>
	<ion-searchbar
		*ngIf="wifiOn"
		[(ngModel)]="searchInput"
		(ionChange)="onSearchInputEnter($event)"
		(ionClear)="onSearchInputClear($event)"
		type="search"
		autocomplete="on"
		animated
		placeholder="Recherche"
		style="border-bottom: 0.55px solid var(--ion-toolbar-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.2)))); padding: 0 12px;"
	></ion-searchbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			pullingText="Pull to refresh"
			refreshingSpinner="circles"
			refreshingText="Refreshing..."
		>
		</ion-refresher-content>
	</ion-refresher>
	<div *ngIf="formationsNotNull(); else elseBlock">
		<div class="course-miniature-container" *ngFor="let formation of formations; let i = index">
			<button class="course-miniature-button" (click)="followFormation(i)">
				<div class="course-miniature-image-container">
					<img style="border-radius: 5px" src="{{ formation.local_uri }}" />
				</div>
				<div class="course-miniature-content-container">
					<h1 class="course-miniature-content-title">{{ formation.name }}</h1>
					<p class="course-miniature-content-duration"><ion-icon name="time" slot="start"></ion-icon>{{ formation.estimated_duration }}h</p>
					<p class="course-miniature-content-duration"><ion-icon name="stats" slot="start"></ion-icon>{{ formation.level }}</p>
				</div>
			</button>
		</div>
	</div>
	<ng-template #elseBlock>
		<ion-card id="welcome-container-card" style="margin-top: 30px;">
			<ion-card-header>
				<ion-img src="assets/img/no-courses.svg"></ion-img>
				<h2 align="center">
					Désolé, nous n'avons pas de<br />
					formations disponible.
					<div *ngIf="!wifiOn">
						<br />
						Réessayez en wifi.
					</div>
				</h2>
			</ion-card-header>
		</ion-card>
	</ng-template>
</ion-content>
