<ion-header>
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button (click)="closeModal()">
				<ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Vendre</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="!toursNotEmpty()" id="welcome-container-card" style="margin-top: 30px;">
		<ion-card-header>
			<ion-img src="assets/img/no-courses.svg"></ion-img>
			<h2 align="center">
				Désolé, aucune tournée<br />programmée pour le moment.
				<div *ngIf="!wifiOn">
					<br />
					Réessayez en wifi.
				</div>
			</h2>
		</ion-card-header>
	</ion-card>
</ion-content>
