<ion-header>
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button (click)="closeModal()">
				<ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Formation detail</ion-title>
	</ion-toolbar>
	<style>
		#header_image {
			width: 100%;
			height: 30%;
		}
	</style>
</ion-header>

<ion-content>
	<div id="header_image">
		<img style="width: 100%; height: 100%;" src="{{ courseShort.local_uri }}" />
	</div>
	<br />
	<h1 align="center" class="course-miniature-content-title">{{ courseShort.name }}</h1>
	<!--<video controls muted="false"><source src="{{ courseLong.link }}" type="video/mp4" /></video>-->
</ion-content>
