<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text=" Retour" icon="arrow-back"> </ion-back-button>
		</ion-buttons>
		<ion-title>S'enregistrer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-img src="/assets/img/signup-img.svg"></ion-img>
			<ion-item>
				<ion-label position="floating" placeholder="Nom" type="text">Entrez votre nom</ion-label>
				<ion-input [(ngModel)]="lastName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating" placeholder="Prénom" type="text">Entrez votre prénom</ion-label>
				<ion-input [(ngModel)]="firstName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating" placeholder="E-mail" type="text">Entrez votre email</ion-label>
				<ion-input [(ngModel)]="firstName"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating" placeholder="Mot de passe" type="password">Entrez un mot de passe</ion-label>
				<ion-input [(ngModel)]="firstName"></ion-input>
			</ion-item>

			<ion-item>
				<ion-checkbox slot="start" [(ngModel)]="accept"></ion-checkbox>
				<p>Accepter les conditions d'utilisations</p>
			</ion-item>
			<a href="https://policies.google.com/terms?hl=fr">Voir les conditions d'utilisations</a>
		</ion-card-header>
	</ion-card>

	<div class="button-block-container">
		<ion-button color="primary" size="large" expand="block" fill="solid">S'inscrire</ion-button>
	</div>
</ion-content>
