// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

* {
	font-family: Barlow Semi Condensed, Arial Narrow, sans-serif;
}

.button-block-container {
	margin: 30px;
	:last-child {
		margin-top: 20px;
	}
}

.course-miniature-container {
	display: flex;
	margin: 15px 5px;
	height: 130px;
}

.course-miniature-button {
	background-color: white;
	width: 100%;
	display: flex;
	border: 1px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	box-shadow: 0px 2px 7px #80808042;
}

.course-miniature-image-container {
	height: 100%;
	width: 50%;
	border-radius: 5px;
}

.course-miniature-content-container {
	width: 50%;
	margin-left: 5px;
}

.course-miniature-content-title {
	font-size: 16px;
	margin-top: 0 !important;
}

.course-miniature-content-duration {
	margin-bottom: 0 !important;
}
